{% extends 'base/base.html' %}

{% load static %}
{% block content %}

    <style>
        #keywordFont {
            font-size: 30px;
            letter-spacing: -0.6px;
            word-spacing: 0px;
            color: #12827A;
            font-weight: bold;
            text-decoration: none;
            font-style: italic;
            font-variant: normal;
            text-transform: uppercase;
        }

        p.card-text {
            font-size: 20px;
            letter-spacing: 0px;
            word-spacing: 0px;
            font-weight: bold;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
            padding-left: 0.7em
        }
    </style>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">스톡 대시보드</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i>리포트 만들기</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                오늘의 날짜는?</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{% now "Y/m/d l" %}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                오늘 스톡워치가 분석한 기사는?</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{today_articles}} 개</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">오늘 스톡워치가 분석한 신문사는?
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{today_publishers}} 개사</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">지금까지 스톡워치가 분석한 기사는?
                                                </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{cum_articles}} 개</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="chart row">

                        <!-- WordCloud Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">오늘의 미국 주식뉴스 키워드</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <img src = "{{ BASE_URL }}/media/wc_image.png" width="330px" height="325px">
<!--                                    <div class="chart-pie pt-4 pb-2">-->
<!--                                        <canvas id="myPieChart1">hello </canvas>-->
<!--                                    </div>-->
<!--                                    what's here?-->
<!--                                    <div class="mt-4 text-center small">-->
<!--                                        <span class="mr-2">-->
<!--                                            <i class="fas fa-circle text-primary"></i> Direct-->
<!--                                        </span>-->
<!--                                        <span class="mr-2">-->
<!--                                            <i class="fas fa-circle text-success"></i> Social-->
<!--                                        </span>-->
<!--                                        <span class="mr-2">-->
<!--                                            <i class="fas fa-circle text-info"></i> Referral-->
<!--                                        </span>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>

                     <!-- Keywords -->
                        <div class="col-xl-3 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">오늘의 주요 키워드 Top 5</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table>
                                        <colgroup>
                                            <col style = 'width:40%;'>
                                            <col style = 'width:60%;'>
                                        </colgroup>
                                        {% for Trendingissues in Trendingissues_list %}
                                        <tr>
                                            <td height=50 style='word-break:break-all;'><b>1위</b></td>
                                            <td><div class = "h7 mb-0 font-weight-bold text-gray-800"> # {{ Trendingissues.issue1 }}</div></td></tr>
                                        <tr>
                                            <td height=50 style='word-break:break-all;'><b>2위</td>
                                            <td><div class = "h7 mb-0 font-weight-bold text-gray-800"> # {{ Trendingissues.issue2 }}</div></td>
                                        </tr>
                                        <tr>
                                            <td height=50 style='word-break:break-all;'><b>3위</td>
                                            <td><div class = "h7 mb-0 font-weight-bold text-gray-800"> # {{ Trendingissues.issue3 }}</div></td>
                                        </tr>
                                        <tr>
                                            <td height=50 style='word-break:break-all;'><b>4위</td>
                                            <td><div class = "h7 mb-0 font-weight-bold text-gray-800"> # {{ Trendingissues.issue4 }}</div></td>
                                        </tr>
                                        <tr>
                                            <td height=50 style='word-break:break-all;'><b>5위</td>
                                            <td><div class = "h7 mb-0 font-weight-bold text-gray-800"> # {{ Trendingissues.issue5 }}</div></td>
                                        </tr>
                                        {% endfor %}
                                    </table><br>
                                    <div class = "h7 mb-0 font-weight-bold text-gray-800" align = 'center'> 현재 시간 {% now "A" %} {% now "h" %}시 {% now "i" %}분 기준!<br></div><br>
                                </div>
                            </div>
                        </div>

                        <!-- Stocks -->
                        <div class="col-xl-5 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">실시간 검색 급상승 주식 Top 5</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table>
                                        <colgroup>
                                            <col style = 'width:20%;'>
                                            <col style = 'width:30%;'>
                                            <col style = 'width:50%;'>
                                        </colgroup>
                                        {% for Trendingstocks in Trendingstocks_list %}
                                        <tr>
                                            <td height=50><b>1위</td>
                                            <td class = "h7 mb-0 font-weight-bold text-gray-800"><a href = {{url1}} >{{ Trendingstocks.keyword1 }}</a></td>
                                            <td class = "mb-0 text-gray-800" align = 'center'>{{ keyword1_name }}<br></td>
                                        </tr>
                                        <tr>
                                            <td height=50><b>2위</td>
                                            <td class = "h7 mb-0 font-weight-bold text-gray-800"><a href= {{url2}} >{{ Trendingstocks.keyword2 }}</a></td>
                                            <td class = "mb-0 text-gray-800" align = 'center'>{{ keyword2_name }}<br></td>
                                        </tr>
                                        <tr>
                                            <td height=50 ><b>3위</td>
                                            <td class = "h7 mb-0 font-weight-bold text-gray-800"><a href= {{url3}} >{{ Trendingstocks.keyword3 }}</a></td>
                                            <td class = "mb-0 text-gray-800" align = 'center'>{{ keyword3_name }}<br></td>
                                        </tr>
                                        <tr>
                                            <td height=50 ><b>4위</td>
                                            <td class = "h7 mb-0 font-weight-bold text-gray-800"><a href= {{url4}} >{{ Trendingstocks.keyword4 }}</a></td>
                                            <td class = "mb-0 text-gray-800" align = 'center'>{{ keyword4_name }}<br></td>
                                        </tr>
                                        <tr>
                                            <td height=50><b>5위</td>
                                            <td class = "h7 mb-0 font-weight-bold text-gray-800"><a href= {{url5}} >{{ Trendingstocks.keyword5 }}</a></td>
                                            <td class = "mb-0 text-gray-800" align = 'center'>{{ keyword5_name }}<br></td>
                                        </tr>
                                        {% endfor %}
                                    </table><br>
                                    <div class = "h7 mb-0 font-weight-bold text-gray-800" align = 'center'>자세히 보기는 주식심볼 클릭!</div><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">오늘의 주요 키워드 관련 기사</h6>
                                </div>

                                {% for kn1 in kn1 %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            <div class="card">
                                                <div class="card-horizontal">
<!--                                                    <div class="img-square-wrapper">-->
<!--                                                        <img class="" src="{{ BASE_URL }}/media/{{ summary.thumbnail }}" alt="Card image cap" width="300px", height="180px">-->
<!--                                                    </div>-->
                                                    <div class="row card-body">
                                                        <div class="col-sm-6"><h6 class="m-0 font-weight-bold text-primary">{{ kn1.category }}</h6></div>
                                                        <div class="col-sm-2 text-xs font-weight-bold text-warning text-uppercase mb-1">{{ kn1.publisher }}</div>
                                                        <div class="col-sm-3 text-gray-500">{{ kn1.timestamp }}</div>
                                                        <div class="col-sm-1">
                                                            <span class="icon text-gray-600">
                                                                <a href="{{ kn1.url }}" target="_blank"><i class="fas fa-arrow-right"></i></a>
                                                            </span>
                                                        </div>
                                                        <p class="card-text">{{ kn1.title }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                </BR>

                            </div>
                        </div>
                    </div>
                </div>

                <style>
                    .card-horizontal {
                        display: flex;
                        flex: 1 1 auto;
                    }
                </style>
                <!-- /.container-fluid -->
{% endblock %}